// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary: #0a4059;
$brand-secondary: #4d7386;

$brand-light-blue: #edf2f5;
$brand-blue: #37a4c5;
$brand-mid-blue: #c0d3dc;