.ai1ec-calendar-view-container {
  margin-bottom: 40px;
}

.cal_adgenda_landing_box {
  h2 {
    color: #006088;
  }
}

.ai1ec-agenda-view.floods-agenda {
  margin-bottom: 40px;
}

.ai1ec-event-title {
  a {
    display: inline-block;
    color: #37A4C5 !important;
    font-size: 22px;
    line-height: 32px;
    margin-top: 10px;
    font-family: 'Adobe Caslon Pro', serif !important;
  }
}

.rp-landing-resources .resource-box .resource-box-right .resource-title {
  border-bottom: 2px solid lightblue;
  padding: 0 0 10px 0;
}
